body {
	margin: 0px;
	padding: 0px;
	font-family: 'Times New Roman', serif, Helvetica, Times, serif;
}

.navrightinfo :nth-child(1) {
	display: block;
	font-size: 1.2rem;
	/* font-size: 10pt;
	background-color:teal;
	margin-top: 50px; */
}

.navrightinfo :nth-child(2) {
	display: block;
	margin-top: 10px;
	/* font-size: 10pt;
	margin-top:0px; */
}

.navrightinfo :nth-child(3) {
	display: block;
	margin-top: 10px;
	/* font-size: 10pt;
	margin-top: 0px; */
}
.hamburger {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
	height: 40px;
	width: 40px;
	background-color: powderblue;
	border-radius: 50%;
	cursor: pointer;
	z-index: 500;
}

.line {
	align-items: center;
	justify-content: center;
	width: 28px;
	height: 3px;
	background-color: white;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

.hamburger :nth-child(1) {
	margin-top: 10px;
}

.upperpart {
	height:100vh;
	background-image: url('images/2.jpg');
	background-size: cover;
	margin-top: -16px;
}

.topbar {
	position: fixed;
	width:100%;
	z-index: 1;
	display: flex;
}

.logo {
	margin-left: 7.5%;
	height:100px;
	width: 100px;
}

.navbar {
  list-style-type: none;
  width: 50%;
  margin-left: 10%;
  margin-top: 20px;
  transition: .5s ease-out;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropbtn {
	color: white;
	padding: 10px 10px 10px 10px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	margin-left: 20px;
}

.dropbtn a {
	text-decoration: none;
	color: white;
}  	

.dropdown-content {
	display: none;
	position: absolute;
	background-color: black;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.75);
	right: -40px;
}
 
.dropdown-content-1 {
	position: absolute;
	left: 100%;
	top: 60%;
	min-width: 160px;
	display: none;
	background-color: black;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.75); /*0.75 will set opacity to 75%.*/
}

.dropdown-content a, .dropdown-content-1 a {
	color:#FFFFFF;
	padding: 12px 16px;
	text-decoration:none;
	display: block;
	text-align: center;
	border-radius: 5px;
 }
  

.dropdown-content a:hover, .dropdown-content-1 a:hover {
	  line-height: 1.42857143;
	  border-bottom-style: solid;
	  border-bottom-color: aqua;
	  border-bottom-width: 0.5px;
}
  

.dropdown:hover .dropdown-content {
	display: block;
}

.softdev:hover .dropdown-content-1 {
	display: block;
}
  

.dropdown:hover .dropbtn {
	background-color: gold;
	color: white;
	border-radius: 5px;  /*for rounded corners*/
}

.navright {
	float:right; 
	margin-right:100px;
	list-style-type: none;
  	width: 350px;
  	background-color:gold;
	text-align: center;
}

.navrightinfo {
	padding:12px;
}
.navrightform {
	background-color: black;
	margin-bottom: -15px;
}

.contlist {
	background-color: gold;
	border-radius:5px;
	width:200px; 
	height:40px; 
	text-align: center;
	display: inline-block;
}

.contlist a {
	text-decoration: none;
	color: white;
	padding-top: 20px;
	vertical-align: middle;
	
}

#chat {
	margin-left: 100px;
}

.thirdpart {
	display:flex;
	overflow: hidden; 
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	width:95%;
	height:300px;
	border-style:solid;
	border-width: 10px;
	border-bottom-width: 20px; 
	border-radius: 7px;
	border-color: gainsboro;
}

.thirdone,.thirdtwo,.thirdthree {
	transform:translateX(1500px);
	margin-top: 20px;
	transition:0.5s linear;
	max-width: 0px;
	display:block;
}

.tbt {
	height:10px;
	cursor:pointer;
	background: none;
	border: none;
	background-color: powderblue;
	border-radius: 100%;
	user-select: none;
}

.togglebuttons {
	margin-left: 5%; 
	margin-top: -75px;
}

.quicklinks {
	background-color: gold;
	padding: 20px;
	margin-top: 40px;
}

.quicklinks a {
	text-decoration: none;
	color: gray;
}

.copyright {
	margin-top: 0px;
	text-align: center;
	background-color: gold;
}
  
.form {
	margin-left: 10%;
	width: 80%;
	background-color: rgba(0,0,0,0.75);
}

.form h1 {
	color: gold;
	padding: 10px 0px 0px 40px;
}

.form label {
	padding: 0px 0px 20px 40px;
	color: white;
}

.form input {
	margin-left: 5%;
	width: 98%;
	padding-bottom: 5px;
	margin-bottom: 5px;
	box-shadow: 5px 5px 5px 0px gold;
}

.form textarea {
	margin-left: 5%;
	box-shadow: 5px 5px 5px 0px gold;
}

button {
	margin-left: 40px;
	padding: 10px;
	background-color: gold;
	margin-bottom: 50px;
}

button a {
	text-decoration: none;
	color: white;
	font-size: 15pt;
}

.assurance-main, .internalaudit-main, .software-main {
	margin-left: 5%;
	margin-right: 5%;
}

.softwaretypes {
	margin-left: 5%;
}

.about, .team {
	margin-left: 5%;
	margin-right:5%
}

.team h1 {
	text-align: center;
}

.topbar-small {
	background-color:#000000;
}

@media (max-width:768px) {

	.topbar-small {
		background-color:rgba(0,255,255,0.15);
	}
	
	.upperpart{
		height: auto;
	}

	.logo {
		margin-left: 10px;
		margin-top: 20px;
		height: 50px;
		width: 50px;
	}

	.hamburger {
		display: block;
		margin-right: 5px;
		margin-top: 10px;
	}

	.navright {
		float: none;
		width: 100%;
		display: block;
	}

	.navrightinfo :nth-child(1) {
		margin-top: 50px;
	}



	.navbar {
		position: absolute;
		top: -20px;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100vh;
		margin-left: 0%;
		align-items: center;
		justify-content: center;
		background-color: black;
		clip-path: circle(100px at 1000px 0px);
		-webkit-clip-path: circle(100px at 1000px 0px);
		z-index: 100;
	}

	.navbar.open {
		clip-path: circle(1500px at 1000px 0px);
		-webkit-clip-path: circle(1500px at 1000px 0px);
	}

	.dropdown-content, .dropdown-content-1 {
		min-width: auto;
	}
	
	#chat {
		margin-left: 0px;
		margin-top: 10px;
	}

	.form input {
		margin-left: 5%;
		width: 70%;
		padding-bottom: 2px;
		margin-bottom: 2px;
		box-shadow: 2px 2px 2px 0px gold;
	}
	
	.form textarea {
		margin-left: 5%;
		box-shadow: 5px 5px 5px 0px gold;
		width: 180px;
	}

	.form label {
		font-size: 8pt;
		padding-left: 10px;
	}



}
